import React, { ReactNode, VoidFunctionComponent } from 'react';

import './{{ pascalCase name }}.module.css';

export type Props = {
  children: ReactNode,
};

const {{ pascalCase name }}: VoidFunctionComponent<Props> = ({ children }) => (
  <p>{{ pascalCase name }}</p>
);

export default {{ pascalCase name }};
