import React, { ReactNode, VoidFunctionComponent } from 'react';

export type Props = {
  children: ReactNode,
};

export const {{ pascalCase name }}: VoidFunctionComponent<Props> = ({ children }) => (
  <p>{{ pascalCase name }}</p>
);
